%h1
  日報

.report-wrapper
  = image_tag current_user.image, size: "48x48"

  .report
    .report-header
      %span.user-name
        = current_user.nickname
      's report
    .report-body
      = @markdown.html_safe
